heroku.yml
.env
config.env
*.env
/dist
node_modules
/.idea
LICENSE
yarn.lock
bot.db
baileys_auth_info

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/Backend/bootstrap/cache/
